/* the input for the main page */

.mainPage {

}

body {
    background-color: #7732a8;
}

nav li {
    display: inline-block;
    float: left;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 15px;
    text-align: center;
}

.navigation {
    background-color: grey;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

nav a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

.holdIntro {
    display: inline-block;
    width: 1100px;
    height: 550px;
    background-color: grey;
    border: 2px solid black;
    margin: 10px;
    padding-right: 10px;
    margin-left: 115px;
}

.introPics {
    display: flex;
    justify-content: space-between;
}

.picOne {
    height: 400px;
    width: 200px;
    display: flex;
    padding: 10px;

}

.picTwo {
    height: 400px;
    width: 200px;
    display: flex;
    padding: 10px;
}

.picThree {
    height: 400px;
    width: 200px;
    display: flex;
    padding: 10px;
}

.picFour {
    height: 400px;
    width: 200px;
    display: flex;
    padding: 10px;
}

.picCaption {
    text-align: center;
}

.factIntro {
    background-color: grey;
    justify-content: center;
    border: 2px solid black;
    white-space: pre;

}

.factBox {
    text-align: center;

}

.qAndA {
    display: flex;
    justify-content: space-around;


}

.rightQuestions {
    background-color: grey;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: 2px;
}

.leftQuestions {
    background-color: grey;
    justify-content: center;
    margin: 2px;
}

.knowMoreBox {
    background-color: grey;
    border: 2px solid black;
    margin: 10px;
    width: 800px;
    margin-left: 270px;

}

.knowMoreLinks {
    display: flex;
    justify-content: center;

}

.know {
    display: flex;
    justify-content: center;

}

.introLinks {}

/* this is the start to the game page */
.gameBox {
    display: none;
}

.gameIntro {
    display: flex;
    justify-content: center;
    background-color: grey;
    border: 2px solid black;
}

.gameText {}

.gameOne {
    background-color: grey;
    border: 2px solid black;
    margin: 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 100px;
}

.gameTwo {
    background-color: grey;
    border: 2px solid black;
    margin: 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 300px;
}

.gameThree {
    background-color: grey;
    border: 2px solid black;
    margin: 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 500px;
}

.gameFour {
    background-color: grey;
    border: 2px solid black;
    margin: 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 700px;
}

.gameFive {
    background-color: grey;
    border: 2px solid black;
    margin: 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 900px;
}

.gameSix {
    background-color: grey;
    border: 2px solid black;
    margin: 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 1100px;
}

.gameSeven {
    background-color: grey;
    border: 2px solid black;
    margin: 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 900px;
}

.gameEight {
    background-color: grey;
    border: 2px solid black;
    margin: 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 700px;
}

.gameNine {
    background-color: grey;
    border: 2px solid black;
    margin: 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 500px;
}

.gameTen {
    background-color: grey;
    border: 2px solid black;
    margin: 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 300px;
}

.gameEleven {
    background-color: grey;
    border: 2px solid black;
    margin: 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 100px;
}

.gameTwelve {
    background-color: grey;
    border: 2px solid black;
    margin: 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 300px;
}

/* this is the start to the youtube channels' div */

.youtubeBox{}

a {
    text-decoration: none;
    color: black;
}