body {
    background-color: #7732a8;
}

nav li {
    display: inline-block;
    float: left;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 15px;
    text-align: center;
}

.navigation {
    background-color: grey;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    display: none;
}

nav a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

.holdIntro {
    display: inline-block;
    width: 1100px;
    height: 550px;
    background-color: grey;
    border: 2px solid black;
    margin: 10px;
    padding-right: 10px;
    margin-left: 115px;
    display: none;
}

.introPics {
    display: flex;
    justify-content: space-between;
}

.picOne {
    height: 400px;
    width: 200px;
    display: flex;
    padding: 10px;

}

.picTwo {
    height: 400px;
    width: 200px;
    display: flex;
    padding: 10px;
}

.picThree {
    height: 400px;
    width: 200px;
    display: flex;
    padding: 10px;
}

.picFour {
    height: 400px;
    width: 200px;
    display: flex;
    padding: 10px;
}

.picCaption {
    text-align: center;
}

.factIntro {
    background-color: grey;
    justify-content: center;
    border: 2px solid black;
    white-space: pre;
    display: none;

}

.factBox {
    text-align: center;

}

.qAndA {
    display: flex;
    justify-content: space-around;


}

.rightQuestions {
    background-color: grey;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: 2px;
}

.leftQuestions {
    background-color: grey;
    justify-content: center;
    margin: 2px;
}

.knowMoreBox {
    background-color: grey;
    border: 2px solid black; 
    margin: 10px;
    width: 800px;
   margin-left: 270px;
    display: none;
    
}

.knowMoreLinks {
    display: flex;
    justify-content: center;
    
}

.know{
    display: flex;
    justify-content: center;
   
}

.introLinks{
    
}

.gameBox {
    background-color: grey;
    border: 2px solid black; 
}

.gameIntro{
    display: flex;
    justify-content: center;
}

.gameOne{
    background-color: grey;
    border: 2px solid black; 
    margin: 15px;
}