.tao {}

body {
    background-color: #7732a8;
}

nav li {
    display: inline-block;
    float: left;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 15px;
    text-align: center;
}

.navigation {
    background-color: grey;
    display: flex;
    justify-content: center;
    border: 3px solid black;
}

nav a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

/* 
display: flex;
    justify-content: space-between;
    height: 500px;
    height: 300px;
  border: 3px solid black;
*/
.introPics {
    display: flex;
    justify-content: space-between;
}

.picOne {
    height: 400px;
    width: 200px;
    display: flex;
    border: 3px solid black;
  
}

.picTwo {
    height: 400px;
    width: 200px;
    display: flex;
    border: 3px solid black;
}

.picThree {
    height: 400px;
    width: 200px;
    display: flex;
    border: 3px solid black;
}

.picFour {
    height: 400px;
    width: 200px;
    display: flex;
    border: 3px solid black;
}

.picCaption{
    text-align: center;
}